<h1>Assignments</h1>
 
 <div class="row">
   <div class="col-md-8">
 <!-- #7 -->
     <% @assignments.each do |assignment| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
 <!-- #8 -->
             <%= link_to assignment.name, assignment %>
           </h4>
           <small>
             <%= assignment.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
   <div class="col-md-4">
 <!-- #9 -->
     <%= link_to "New Assignment", new_assignment_path, class: 'btn btn-success' %>
   </div>
 </div>